{% extends 'CloudStorage/header.html' %}

{% block title %}
  Shared Files
{% endblock %}

{% block content %}
  <div class="container-fluid mt-4">
    <div class="table-responsive mt-4">
      <h2>Files Shared With You</h2>
      {% if page_obj %}
        <table class="table table-bordered table-striped mt-3">
          <thead class="thead-dark">
            <tr>
              <th>S.N.</th>
              <th>File Name</th>
              <th>Uploaded At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for file in page_obj %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ file.original_title }}</td>
                <td>{{ file.created_at }}</td>
                <td>
                  {% if file.can_view %}
                    <a href="{% url 'view_file' file.file_uid %}" class="btn btn-success btn-sm m-1">View</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }}</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% else %}
        <p>No files have been shared with you.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
